@CHARSET "UTF-8";

body {
	font-family: Helvetica;
}

#header {
	text-align: center;
}

.upper {
	border-style: solid;
	float: right;
	margin-right: 100px
}

.upper h4 {
	margin: 0px 0px 0px 0px;
	background: #4CAF50;
	text-align: center;
}

.departments {
	margin-bottom: 10px;
}

ul {
	margin-top: 0px;
}

#classes {
	margin-left: 100px;
}

h5 {
	font-style: bold;
}